$background-image: url('../images/2aac88186d03be63048f88e7f19beaef.png');

$color-text: #262626;

$color-surface-grey1: #262626;
$color-surface-grey2: #C4C4C4;
$color-surface-grey3: #ECECEC;
$color-surface-grey4: #FFFFFF;
$color-surface-grey5: #FBF9F9;
$color-surface-grey6: #5F5F5F;

$color-surface-blue1: #0E3A54;
$color-surface-blue2: #1B526E;
$color-surface-blue3: #417190;
$color-surface-blue4: #B4CCDC;
$color-surface-blue5: #E4EAEE;

$color-surface-gold1: #816219;
$color-surface-gold2: #BE942D;
$color-surface-gold3: #DED5C8;
$color-surface-gold4: #FBF6F1;

$color-disable: #f4f7f8;

$color-link: #1168CE;

$color-overlay: #082E5CCC;

$primary-color: #003366;
$secondary-color: #0066cc;

$color-status-error1: #BC2626;
$color-status-error2: #CE3535;
$color-status-error3: #F5DCDC;

$color-status-warning1: #816219;
$color-status-warning2: #CEA335;
$color-status-warning3: #F4ECD6;

$color-status-success1: #006F35;
$color-status-success2: #35CE7E;
$color-status-success3: #D6F4E5;

$color-status-info1: #035579;
$color-status-info2: #35A0CE;
$color-status-info3: #D6EBF4;

$color-status-neutral1: #5A5A5A;
$color-status-neutral2: #AAAAAA;
$color-status-neutral3: #F0F0F0;

$color-vizualizace-red: #EE6666;
$color-vizualizace-orange: #FC8452;
$color-vizualizace-yellow: #FAC858;
$color-vizualizace-light-green: #91CC75;
$color-vizualizace-forest-green: #3BA272;
$color-vizualizace-light-blue: #73C0DE;
$color-vizualizace-dark-blue: #5470C6;
$color-vizualizace-purple: #9A60B4;
$color-vizualizace-pink: #EA7CCC;
$color-vizualizace-grey: #C4C4C4;

$color-border-yellow: #EFE1B6;
$color-border-red: #F5CCCC;
$color-border-green: #C7E7D3;
$color-border-blue: #bddbf8;
$color-border-grey: #E4E4E4;
$color-border-base: #E1E6EA;

$color-info-message: #D0ECF7;
$color-info-message-text: #004574;

